{{- if .Values.gateway.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "pistonprotection.fullname" . }}-gateway
  labels:
    {{- include "pistonprotection.gateway.labels" . | nindent 4 }}
spec:
  type: {{ .Values.gateway.service.type }}
  ports:
    - port: {{ .Values.gateway.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.gateway.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
      name: grpc
    - port: 9091
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "pistonprotection.gateway.selectorLabels" . | nindent 4 }}
{{- end }}
